# Rider directories
.idea/
.ideaLibraries/
.caches/
.local/
.rider/
.rider.csproj.user
*.iml

# Visual Studio
*.suo
*.user
*.ncb
*.aps
*.pss
*.vsp
*.vspx
*.vssscc
*.scc
obj/
bin/
Debug/
Release/
ipch/
*.exp
*.lib
*.dll
*.sbr
*.pdb
*.ilk
*.res
*.tlb
*.tlh
*.tmp
*.log
*.vspscc
*.vshost.*
_ReSharper*/
packages/
nuget/
*.psess
*.vspf
*.vspfx
*.sln.docstates
*.sln.ide
*.sln.ide-shm
*.sln.ide-wal
